.post {
    max-width: 600px;
    width: 100%;
    background-color: #202024;
    padding: 20px;
    border-radius: 8px;
    color: #E1E1E6;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.post h5 {
    font-size: 16px;
    margin: 0;
}
.post h6 {
    color: #8D8D99;
    margin: 0;
}
.post p {
    color: #C4C4CC;
    /* max-width: 450px;
    width: 100%;
    text-align: left; */
}

.postHeader {
    display: flex;
    gap: 20px;
    align-items: center;
}
.postHeader img{
    height: 45px;
    border-radius: 10px;
    border: #00875F 2px solid;
    padding: 4px;
}
.postHeader .authorInformations{
    cursor: default;
}