.post {
    background-color: var(--gray-800);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postHeader {
    display: flex;
    gap: 20px;
    align-items: center;
}


.postHeader img {
    height: 3rem;
    width: 3rem;
    border-radius: 10px;
    border: var(--green-500) 2px solid;
    padding: 2px;
    background-color: var(--gray-800);
}

.postHeader .authorInformations {
    cursor: default;
    display: flex;
    flex-direction: column;
}

.postHeader .authorInformations span {
    color: var(--gray-400);
}